@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
}